<!-- <pb-article>
      <h1>Table</h1>
      <slot-two>
        <p >{{budget}}</p> -->
<div>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <!-- <ng-container matColumnDef="budget_id">
      <mat-header-cell *matHeaderCellDef [style.display]="'none'"> No. </mat-header-cell>
      <mat-cell *matCellDef="let element" [style.display]="'none'"> {{element.budget_id}} </mat-cell>
    </ng-container> -->

    <ng-container matColumnDef="budget_id">
      <mat-header-cell *matHeaderCellDef> No.</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
         {{ (paginatorRef.pageIndex * paginatorRef.pageSize) + (i + 1) }}
      </mat-cell>
     </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="expense">
      <mat-header-cell *matHeaderCellDef> Expense </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.expense}} </mat-cell>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>
    </ng-container>

    <!-- Month Column -->
    <ng-container matColumnDef="budget_date">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.budget_date | date: 'MM/dd/yyyy'}} </mat-cell>
    </ng-container>

    <!-- Month Column -->
    <!-- <ng-container matColumnDef="user_id">
            <mat-header-cell *matHeaderCellDef> User ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.user_id}} </mat-cell>
          </ng-container> -->

    <!-- Symbol Column -->
    <!-- <ng-container matColumnDef="symbol">
            <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.edit}} </mat-cell>
          </ng-container> -->

    <!-- Symbol Column -->
    <!-- <ng-container matColumnDef="symbol">
            <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.delete}} </mat-cell>
          </ng-container> -->
    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="startEdit(i, row.budget_id, row.title, row.expense, row.category, row.budget_date)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="deleteItem(i, row.budget_id, row.title, row.expense, row.category, row.budget_date)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator
    fxFlex="100"
    #paginatorRef
    [length]="5"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
<!-- </slot-two>
    </pb-article> -->
<div class="container center">
  <div class="page-area">
    <pb-article>
      <h1>Chart1</h1>
      <slot-two>
        <p>Chart1 goes here</p>
      </slot-two>
    </pb-article>
    <pb-article>
      <h1>Chart2</h1>
      <slot-two>
        <p>Chart2 goes here</p>
      </slot-two>
    </pb-article>
    <pb-article>
      <h1>Chart2</h1>
      <slot-two>
        <p>Chart3 goes here</p>
      </slot-two>
    </pb-article>
  </div>
</div>
