.about-page {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  background-color: #b4c6f0;
  background-image: url('/assets/bg.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

#table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}

/* Mat table */
.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 14px;
  font-style: italic;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1){
  flex: 0 0 6%;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2){
  flex: 0 0 30%;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3){
  flex: 0 0 6%;
}

.mat-cell:nth-child(7),
.mat-header-cell:nth-child(7){
  flex: 0 0 7%;
}
