<div class="container center">
  <div class="page-area">
    <pb-article>
      <h1>Table</h1>
      <slot-two>
        <p>Table goes here</p>
      </slot-two>
    </pb-article>
    <pb-article>
      <h1>Chart1</h1>
      <slot-two>
        <p>Chart1 goes here</p>
      </slot-two>
    </pb-article>
    <pb-article>
      <h1>Chart2</h1>
      <slot-two>
        <p>Chart2 goes here</p>
      </slot-two>
    </pb-article>
    <pb-article>
      <h1>Chart2</h1>
      <slot-two>
        <p>Chart3 goes here</p>
      </slot-two>
    </pb-article>
  </div>
</div>
