<div class="container">
  <h3 mat-dialog-title>Budget ID: {{data.budget_id}}</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <!-- <mat-form-field color="accent">
        <input matInput [readonly]="true" class="form-control" placeholder="Id" [(ngModel)]="data.budget_id" name="id" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field> -->
    </div>

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Title" [(ngModel)]="data.title" name="title" required ></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate type="number" class="example-right-align" placeholder="Expense" [(ngModel)]="data.expense" name="expense" required >
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Category" [(ngModel)]="data.category" name="category">
        </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Add Date" [(ngModel)]="data.add_date" name="add_date">
      </mat-form-field>
    </div>
<!--
    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Updated at" [(ngModel)]="data.updated_at" name="updated_at">
      </mat-form-field>
    </div> -->

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
